<section id="home" class="container-fluid vh-100" style="background-image: url(assets/img/logo/Buho-03.svg);">
  <div class="d-flex h-100 align-items-center">
    <div class="row align-items-center">
      <div class="col col-3">
        <img class="img-fluid" src="assets/img/logo/Buho-06.svg" />
      </div>
      <div class="col col-9">
        <h1 class="h1">
          Diego Jared <br />
          Donis Soto
        </h1>

        <h2 class="h2">Desarrollador web</h2>
        <!--<a href="https://media.kaizet.com/doc/Diego_Donis_CV.docx" class="btn btn-light m-3">cv word</a>-->
        <a href="https://kaizet.fra1.digitaloceanspaces.com/Diego_Jared_Donis_Soto_-_Analista_de_software-v.pdfy" target="_blank" class="btn btn-light m-3">cv pdf</a>
      </div>

    </div>
  </div>
</section>
