<section id="home" class="container vh-100" style="background-image: url(assets/img/logo/Buho-03.svg);">
  <div class="d-flex h-100 align-items-center">
    <div class="row align-items-center">
      <div class="col col-3">
        <img class="img-fluid" src="assets/img/logo/Buho-06.svg" />
      </div>
      <div class="col col-9">
        <h1 class="h1">
          Diego Jared <br />
          Donis Soto
        </h1>

        <h2 class="h2">Desarrollador web</h2>
      </div>
    </div>
  </div>
</section>
