<section id="about" class="container mt-3">
    <h2 class="h2">Acerca de mi</h2>
    <hr>
    <p>Desarrollador de software con experiencia en su mayoria en tecnologias web.</p>
    <p>Emprendedor, autodidacta y amante de las nuevas tecnologias, trato siempre de estar al tanto con los frameworks con los que trabajo y a la espera de conocer o crear nuevas tecnologias.</p>
    <div class="row row-cols-1 row-cols-md-2">
        <app-skils></app-skils>
        <app-experience></app-experience>
    </div>
</section>
