<section id="about" class="container mt-3">
    <h2 class="h2">Acerca de mi</h2>
    <hr>
    <p>Desarrollador de software con experiencia en distintas disciplinas y varios modelos de negocio.</p>
    <p>Entusiasta, paciente, con una curiosidad innata de adquirir conocimiento, me considero una persona responsable y en constante crecimiento por que me apasiona lo que hago.</p> 

    <div class="row row-cols-1 row-cols-md-2">
        <app-skils></app-skils>
        <app-experience></app-experience>
    </div>
</section>